:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif, 'Fira Code';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  /* appearance: none; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html,
body {
  scrollbar-width: none;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden !important
}


#app {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden !important;
}

.widget-wrapper {
  width: fit-content;
  height: fit-content;
  position: fixed;
  bottom: 0;
  left: 0;
  border: 0;
  display: block;
}

/* .widget-wrapper.visible {
  display: block;
} */

.command-buffer {
  width: 100%;
  padding: 0 5px;
  height: 20px;
  /* border-color: #10141C; */
  background: #10141C;
  outline: none;
  border: 0;
  opacity: 0.1;
  font-family: 'Fira Code';
}

.command-buffer:focus {
  outline: none !important;
  border: 0;
  border-color: inherit;
  box-shadow: none;
}